@import "summernote-bs4"
@import "summernote-custom-theme.min"

@import url(//fonts.googleapis.com/css?family=Mukta+Mahee)

body
  font-family: 'Mukta Mahee'

.banner-posts
  background-image: image-url('blog.jpg')


.article-grid
  border: 1px solid rgba(155, 33, 33, 0.49)
  padding: 0 1em 1em
a.button
  border: 1px solid #df001f
  color: #df001f
  margin-top: 0.5em
  padding: 0.5em 1.5em
  display: inline-block
  &:hover, :focus
    background-color: #df001f
    color: white
    text-decoration: none


.min-menu
  // background-color: #df001f
  padding: 1em
  a
    color: #df001f
    padding: 1em
